@charset "utf-8";

.zoom {
   transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
 
 
}
/* hover는 마우스 올렸을때 반응 */
.zoom:hover{
	transform: scale(1.1);
	transition: .5s;
}


