@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: #202020;
  color: #D9D9D9;
}

.main-form {position: relative; z-index: 2;}


.mainb{
	font-family: 'GmarketSansMedium';
    
    font-size: 65px;
    padding-top : 20px;
    text-align: center;
    margin-bottom: 10px;
}

.mainb2{
	font-family: 'GmarketSansMedium';
    
    font-size: 15px;
    padding-top : 5px;
    text-align: center;
    margin-bottom: 10px;
}

.mainb3{
	
	padding-top : 8%;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    text-align: center;
	
}
.clockcss{
	position: absolute;
	left: 48%; bottom: -53%;
	 font-weight: bold;
	
	font-family: 'Noto Sans KR', sans-serif;
    font-size : 20px;
    
	
}
.mlmod{
	position: absolute; right: 1.5%; bottom: -55%;
	
}


a{
    /* Text의 밑줄 제거 */
    text-decoration: none;
    
    /* 부모의 색상값을 물려받도록*/
    color: inherit
         
}



ul, li {
    /* 글머리표 제거 ● 같은것*/
    list-style: none;
}
header {
   
}

header .gnb{
    /* 오른쪽 배열*/
    float: right
}
    
header .gnb li {
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 20px;
    /*메뉴 가로로 배열*/
    display: inline-block;
    /*각각 왼쪽으로 30px 띄우기*/
    margin-top: 28px;
    margin-right: 40px;
}

header .gnb li :first-child{
    /*메뉴의 첫번째 는 멀어질 필요가 없기때문에*/
    margin-left: 0;
}

.clockcss{
	 
	 text-align: center;
	 
}
.ctemp{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	text-align: center; 
}
.lowtemp{
	
	text-align: center;
}
.hightemp{
	text-align: center; 
}






.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
