<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b.c.com.login.dao.SpringLoginDAO">


<select id="loginCheck" parameterType="memberVO" resultType="memberVO">	
	SELECT 	 A.MID MID
	   		,A.MPW MPW 
	FROM 	SPRING_MEMBER A 
	WHERE 	A.DELETEYN = 'Y'
	AND   	A.MID = #{mid, jdbcType=VARCHAR}	                          	 
	AND   	A.MPW = #{mpw, jdbcType=VARCHAR} 
</select>


</mapper>

